const spider = require('scrano').spider


class ${SPIDER_NAME} extends spider.Spider {
    constructor(options) {
        super(options)
        this.allowDomains = [ 
            ${DOMAIN}
        ]
        this.startUrls = []
    }

    * parse(response) {
        
    }
}

module.exports = ${SPIDER_NAME}